/* body{
    background-color: lightpink;
    margin: 0%;
}
nav {
    max-width: 15%;/*Going with rem over % since it become slightly bigger which is uglier, this should be slightly bigger than the nav but not the full width of page DON'T CHANGE
    height: 25em;
    margin-bottom: 1em ; /*Spaced empty area between nav and mainContainer
    padding-top: 1rem;/*spacing between the top and content of the nav
    padding-bottom:1rem;/*spacing between the bottom and content of the nav
    background-color: white;/*This will display if background image isnt availble
    border: .1em solid;

}
nav ul {
    list-style-type: none;/*Takes away the list style which was o circles doesnt replace them with anything
    margin: 0;  
    display: flex;
    flex-direction: column;
    padding-left: 0.2rem;
}
nav ul a{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.2rem;
} 
*/
/* The sidebar menu */
body{
    background-color: lightpink;
    margin: 0%;
}
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 0;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .search {
    flex: 1 1 auto;
  }

  .search input {
    margin-left: 25px;
    width: 60%;
    height: 44px;
    font-size: 18px;
    border: 0;
    border-radius: 8px;
    background: #ffffff;
  }
  
  
