
  body {
    background: #e6edf2;
    font-family: "Euclid Circular A";
    padding: 70px;
    margin: 0%;
    
  }
  .mainContainer {
    max-width: 80%;
    margin-left: auto;
    margin-right:auto;
    padding-top: 0.5em;
    margin-top: 1em;
    padding-left: 2em;
    display:block;/*Children are block's unless displayed differently*/
    border-radius: 0.2rem;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, .6);/*Using rgba in order to have optincy while not effecting the content on the div itself*/
  }
  .row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
  .subHeading{
    width: 100%;
    height: 50%;
    background: #c5c6c7;
    margin-top: 10px;
    margin-bottom: 1em;
  }
  .card-tours{
    width: 40%;
    height: 40%;
  }
  .card_user{
    height: 80%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    
  }
  .card_user img{
    border-radius: 2em;
  }
  .card_user input{
    width: 80%;
  }
  .extendble {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 72px;
    border-style: none;
    top: 1.4em;
    left: 0;
    z-index: 1;/*If you discover a better way to fix this im all ears, but if you remove this the button will go god knows where*/
    background: #ffffff;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #ffffff;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  }
  .navbar ul {
    margin-left: 150px;
    list-style-type: none;/*Takes away the list style which was o circles doesnt replace them with anything*/
    display: flex;
    
}
  .navbar ul li{
    justify-content: space-evenly;
    align-content: center;
    padding: 20px;
  }
  .navbar h1{
    margin-right: 150px;
    height: 10px;
  }
  footer{
    justify-content: flex-start;
    background: #ffffff;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  body.open .navbar {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
  
  @media (width >= 500px) {
    .navbar {
      translate: 0 0;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 0;
      width: 100%;
      height: 72px;
      padding: 0 0 0 72px;
    }
  }
  
  @media (width >= 600px) {
    .navbar {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 108px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  
  @media (width >= 500px) {
    .logo {
      margin-bottom: 0;
    }
  }
  
  .logo img {
    width: 32px;
  }
  
  .logo span {
    font-size: 18px;
    color: #606468;
  }
  
  .search {
    margin: 50px 50px 50px 500px;
    position: relative;
    color: #888989;
  }
  
  @media (width >= 500px) {
    .search {
      flex: 1 1 auto;
    }
  }
  
  @media (width >= 550px) {
    .search {
      flex: 0 0 auto;
    }
  }
  
  .search span {
    position: absolute;
    top: 50%;
    left: 16px;
    translate: 0 -50%;
    z-index: 1;
    font-size: 20px;
    color: inherit;
  }
  
  .search input {
    width: 100%;
    height: 44px;
    padding-left: 46px;
    font-size: 16px;
    border: 0;
    border-radius: 8px;
    background: #eff1f2;
    color: inherit;
    font-family: inherit;
    outline: none;
  }
  
  @media (width >= 650px) {
    .search input {
      width: 280px;
    }
  }
  
  .navbar nav {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  .navbar nav img {
    flex: 0 32px;
    width: 32px;
    height: 32px;
    margin-left: 8px;
  }

#sidebar{
  transition: 500ms;
  position: fixed;
  height: 100%;
  width: 10em;
  left: -10em;
  padding-top: 50px;
}
#sidebar ul{
  margin-left: 10px;
}

#sidebar.active{
  left: 0;
}