{% extends "base.html" %}
{% load static %}
{% block metadescription %}
{% if category %}
{{ category.description|truncatewords:155 }}
{% else %}
Welcome to our Travel Agency Website.
{% endif %}
{% endblock %}
{% block title %}
{% if category %}
{{ category.name }} - Travel Agency
{% else %}
Home
{% endif %}
{% endblock %}
{% block content %}
<!--Breadcrumb navigation-->
{% if category %}
<div class="row my_row_class">
<div class="mx-auto">
<p style="color: #fff;"><a style="color: #fff;" href="{% url 'shop:all_products' %}">Our Product Collection</a> | {{category.name}}</p>
</div>
</div>
{% endif %}
<div class="mx-auto">
{% if category %}
</div>
<br>
<div>
    <h1>{{category.name}}</h1>
    <p>{{category.description}}</p>
    </div>
    {% else %}
    </div>
    <br>
    <div>
    <h1 class="text-center my_title" >Our Packages Collection</h1>
    <p class="text-justify">Take a look at what we have to offer. We pride ourselves on delivering the best holiday experince. We hope you enjoy browsing through our comprehensive range of holidays, routs and short breaks and we look forward to taking care of your holiday arrangements.</p>
    </div>
    {% endif %}
    <div class="container">
        <div class="row mx-auto">
            {% for product in prods %}
                <div class="my_bottom_margin col-9 col-lg-4 col-sm-12 col-md-4">
                    <div class="card text-center" style="min-width:18rem; color:black">
                        <h3>{{product.category}}</h3>
                        <a class ="img" href="{{product.get_absolute_url}}"><img style="height: 280px; width: 380px;" class="card-img-topmy_image" src="{{product.image.url}}" alt="{{products.name}}"></a>
                        <div class="card-body">
                            <h4>{{product.name}}</h4>
                            <p>€{{product.price}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% if prods.paginator.num_pages > 1 %}
                <hr>
                <div class="text-center">
                    {% for pg in prods.paginator.page_range %}
                        <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{pg}}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>  
    </div>
    <br>
</div>
{% endblock %}