<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href="/Css/style2.css" rel="stylesheet" />
</head>
<body>
  <div id="sidebar" class="bg-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="bi bi-person"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">at least the nav bar is done so just did the side bar real quick</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">style it how you want go nuts</a>
      </li>
    </ul>
  </div>
<!--Nav search function-->
<nav class="navbar navbar-expand-sm bg-white navbar-white" style="z-index: 1;">
  <div class="search"><!--Siv's search feature-->
    <input placeholder="Search"/> <!--Find valid name for this-->
    <i class="bi bi-search" style="position:relative ; left:-7.1cm; cursor: pointer;"></i>
  </div>
<!--Nav Links-->
<div class="container-fluid">
    <div class="container-fluid">
		  <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index2.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tour_list_hub.html">Tours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
		  </ul>
		</div>
</nav>
<button onclick="ExpandMenu()" class="extendble"><i class="bi bi-list"></i></button><!--On click will expand the nav bar in social media-->
<div id="slideshow_bg">
    <div id="mainContainerforms">
        <div class="card_user">
          <div class="card_img">
              <img src="/images/user.png">
              <button class="btn"><i class="bi bi-plus"></i></button>
          </div>
        <form>
            <label for="user">Username:</label><br>
            <input type="text" id="user" name="user" value="User"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password" value="Password">
          </form>
          <button class="btn_forms" onclick="">Login</button>
        </div>
    </div>

<footer>
  <h1>suggestions for what to add</h1>
  <p> just some text to see the sizing of the box</p>
</footer>
</div>
</body>