<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Jake's Blog</title>
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <div class="search"><!--Siv's search feature-->
            <input placeholder="placeholder"/> <!--Find valid name for this-->
          </div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Destionation</a>
        <a href="#">Tours</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </div>
      
      <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
      </div>
    <footer>

    </footer>
    <script>
        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
    </script>
</body>

