  *{
    font-family: sans-serif
  }
  body {
    background: #e6edf2;
    font-family: "Euclid Circular A";
    margin: 0%;
    height: 100%;
    width: 100%;
    
  }
  .mainContainer {
    max-width: 80%;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right:auto;
    display:block;/*Children are block's unless displayed differently*/
    border-radius: 0.2rem;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, .6);/*Using rgba in order to have optincy while not effecting the content on the div itself*/
  }
  .row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0%;
    justify-content: space-evenly;
  }
  .subHeading{
    width: 100%;
    height: 8em;
    background: #c5c6c7;
    margin-top: 40px;
    margin-bottom: 1em;
    text-align: center;
  }
  .card-tours{
    width: 40%;
    height: 40%;
  }
  .card_user{
    height: 80vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
  }
  .card_img{
    border-radius: 2em;
    justify-content: center;
    
  }
  .card_img .btn {
    position: absolute;
    top: 31.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    font-weight: bold;
    color: black;
    font-size: 16px;
  }
  .card_user input{
    width: 40%;
  }
  .card_user button{
    height: 30px;
    width: 40%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-style: none;
  }
  .card_user ul{
    list-style: none;
  }
  .extendble {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 72px;
    border-style: none;
    top: 1.4em;
    left: 0;
    z-index: 1;/*If you discover a better way to fix this im all ears, but if you remove this the button will go god knows where*/
    background: #ffffff;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #ffffff;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  }
  .navbar ul {
    margin-left: 150px;
    list-style-type: none;/*Takes away the list style which was o circles doesnt replace them with anything*/
    display: flex;
    
}
  .navbar ul li{
    justify-content: space-evenly;
    align-content: center;
    padding: 20px;
  }
  .navbar h1{
    margin-right: 150px;
    height: 10px;
  }
  footer{
    justify-content: flex-start;
    background: #ffffff;
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  body.open .navbar {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
  #sidebar{
    transition: 500ms;
    position: fixed;
    height: 100%;
    width: 10em;
    left: -10em;
    padding-top: 5em;
    background: #ffffff;
  }
  #sidebar ul{
    margin-left: 10px;
    
  }
  
  #sidebar.active{
    left: 0;
  }
  #containerslide{
    overflow: hidden;
    width: 100%;
    height: 60vh;
    margin-bottom: 0;
  }
  #containerslide h1{
    position: absolute;
    left: 24%;
    top: 2em;
    color: #fff;
    font-size: 120px;
    z-index: 1;
    font-weight: 600;
  }
  #slideshow{
    display: flex;
    transition: 2s;
  }
  #slideshow img{
    width:120cm ; 
    height:31.6cm;
    position: relative;
    bottom: 4cm;
  }
  #containerslide a{
    position: absolute;
    top: 16em;
    left: 40%;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    z-index: 1;
  }
  #containerslide a:hover{
    color: rgb(27, 179, 179);
    border: 2px solid #fff;
  }
  #slideshow_bg {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 20s linear infinite;
    animation-timing-function: ease-in-out;
    background-image: url(/images/Tokyo.jpg);
  }
  .subtitle {
    color: #fff;
    font-size: 120px;
    font-weight: 800;
  }

@keyframes slideBg{
  0% {
    background-image: url(/static/images/Tokyo.jpg);
  }
  25% {
    background-image: url(/static/images/rio_bay.jpg)
  }
  50% {
    background-image: url(/static/images/rome_bridge.jpg)
  }
  75% {
    background-image: url(/static/images/Berlin_Arch.jpg)
  }
  100% {
    background-image: url(/static/images/singapore_waterfront.jpg)
  }
}
  @media (width >= 500px) {
    .navbar {
      translate: 0 0;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 0;
      width: 100%;
      height: 72px;
      padding: 0 0 0 72px;
    }
  }
  
  @media (width >= 600px) {
    .navbar {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 108px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  
  @media (width >= 500px) {
    .logo {
      margin-bottom: 0;
    }
  }
  
  .logo img {
    width: 32px;
  }
  
  .logo span {
    font-size: 18px;
    color: #606468;
  }
  
  .search {
    margin: 50px 50px 50px 500px;
    position: relative;
    color: #888989;
  }
  
  @media (width >= 500px) {
    .search {
      flex: 1 1 auto;
    }
  }
  
  @media (width >= 550px) {
    .search {
      flex: 0 0 auto;
    }
  }
  
  .search span {
    position: absolute;
    top: 50%;
    left: 16px;
    translate: 0 -50%;
    z-index: 1;
    font-size: 20px;
    color: inherit;
  }
  
  .search input {
    width: 100%;
    height: 44px;
    padding-left: 46px;
    font-size: 16px;
    border: 0;
    border-radius: 8px;
    background: #eff1f2;
    color: inherit;
    font-family: inherit;
    outline: none;
  }
  
  @media (width >= 650px) {
    .search input {
      width: 280px;
    }
  }
  
  .navbar nav {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  .navbar nav img {
    flex: 0 32px;
    width: 32px;
    height: 32px;
    margin-left: 8px;
  }

