body{
    background-color: rgb(58, 58, 58);
}
#world{
    width: 6em;
    height: 6em;
    transition:1200s;
    position: absolute;
    left: 10cm;
}
#world.active{
    transform: rotate(23040deg);
}